@import url('https://fonts.googleapis.com/css?family=Pacifico');

nav {
  position: fixed;
  top: 15px;
  right:15px;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  transition: height 0.5s, width 0.5s, right 0.5s, top 0.5s, border-radius 0.3s;
  z-index: 100;
  border: solid 2px #D31245;
}

nav.is-open {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  right: 0;
  top: 0;
  z-index: 100;
  border: none;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15px;
  right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.open-icon {
  transition: background-color 0.3s;
}

.open-icon,
.open-icon::before,
.open-icon::after {
  width: 22px;
  height: 4px;
  background: black;
}

.open-icon::before,
.open-icon::after {
  content: '';
  display: block;
  transition: transform 0.3s;
}

.open-icon::before {
  transform: translateY(-8px);
}

.open-icon::after {
  transform: translateY(4px);
}

nav.is-open .open-icon {
  background-color: transparent;
}

nav.is-open .open-icon::before {
  transform: translateY(2px) rotate(45deg);
}

nav.is-open .open-icon::after {
  transform: translateY(-2px) rotate(-45deg);
}

ul {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transform: translate(calc(50vw + 40px), calc(-50vh - 40px)) scale(0);
  opacity: 0;
  transition: transform 0.5s, opacity 0.3s;
}

nav.is-open ul {
  transform: none;
  opacity: 1;
}

nav:not(.is-open) ul {
  pointer-events: none;
}

li {
  font-size: 40px;
  text-transform: none;
  font-family: 'Pacifico';
  margin: 20px;
}

li:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 500px) {
  nav {
    top: 0;
    right: 0;
    border-radius: 0;
    width: auto;
    border: none;
    justify-content: center;
  
  }
  
  #nav li{
    font-size: 18px;
    width: 100%;
  }

  li:last-child{
    margin-bottom:0;
  }

  nav.is-open {
    height: 50px;
  }
  
  .open {
    display: none;
  }
  
  ul {
    position: static;
    opacity: 1;
    transform: none;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
  }
  
  li {
    font-size: 40px;
  }
  
  li:not(:last-child) {
    margin-bottom: 0;
  }
}